        <ul id="mainnav">
            <li>
                <a href="/food/">
                <span class="icon"> <!-- <i aria-hidden="true" class="icon-quill"></i></span> -->
                <span> food </span>
            </a>
            </li>
            <li>
            <a href="/beer/">
                <span class="icon"> <!-- <i aria-hidden="true" class="icon-console"></i></span> -->
                <span> beer </span>
            </a>
            </li>
            <li>
             <a href="/ski/">
                <span class="icon"> <!-- <i aria-hidden="true" class="icon-stats"></i></span> -->
                <span> ski </span>
            </a>
            </li>
            <li>
            <a href="/about/">
                <span class="icon"> <!-- <i aria-hidden="true" class="icon-13"></i></span> -->
                <span> about </span>
            </a>
            </li>
        </ul>
