<!-- Start of StatCounter -->
<script type="text/javascript">
var sc_project=9818404;
var sc_invisible=1;
var sc_security="a751ef17";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9818404/0/a751ef17/1/"
alt="web analytics"></a></div></noscript>
<!-- End of StatCounter -->
